@BridgemanAccessible:registry=http://npm.pkg.bridgemanaccessible.ca/
//npm.pkg.bridgemanaccessible.ca/:_authToken="NjYwYWY5N2NlNGZlNDFlZTFkYzAxY2RlMDYxNDJjNjA6NmIyMGVjNmQ3MjQ0OTc0NjY2NWVlYTRmNmViMjgzZGRmMg=="